:root{
  /* Page Structure */
  --header-height: 60px;
  --sidebar-min-width: 70px;
  --page-padding: 5px;
  --filter-bar-height: 55px;
  --sidebar-main-spacing: 25px;

  /* Element Control */
  --filter-button-width: 100px;
  --header-button-diameter: 35px;

  /* Theme Page Colors */
  --main-color: rgb(15, 15, 15);
  --main-color-light: rgb(34, 34, 34);
  --main-color-lighter: rgb(48, 48, 48);
  --focus-color: rgb(22,63,114);
  
  /* Theme font colors */
  --text-color: white;
  --text-color-dark: rgb(150,150,150);
  --text-color-darker: rgb(90,90,90);

}

html, body{
  height: 100%;
}


body {
  background: var(--main-color);
  color: #fff;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body *{
  box-sizing: border-box;
}


/* --- Header Buttons --- */

header {
  display: flex;
  height: var(--header-height);
  padding-left: 10px;
  padding-right: 30px;

  justify-content: space-between;
}

header div {
  display: flex;
  
  align-items: center;
}

header .button_container{
  width:  var(--header-height);
  
  cursor: pointer;
}

header .button_container:not(#youtube_button){
  background-position: 50% 50%; /* why this only work if ignoring youtube button ?? */
  border-radius: 100%;
}

header .button_container:not(#youtube_button):hover{
  background-color: var(--main-color-lighter);
}

.left{
  gap: 5px;
}
.right{
  gap: 15px;
}

#sidebar_button{ 
  background: url(assets/ThreeLines1.png) no-repeat;
  background-size: 70%;
  width: var(--header-button-diameter);
  height: var(--header-button-diameter);
}

#youtube_button{
  background: url(assets/ytLogo1.png) no-repeat;
  background-position: 50% 50%; 
  width: 145px;
  height: var(--header-height);
  background-size: 100%;
}

#button_create{
  background: url(assets/create1.png) no-repeat;
  background-size: 100%;
  width: var(--header-button-diameter);
  height: var(--header-button-diameter);
}

#button_notification{
  background: url(assets/notification1.png) no-repeat;
  background-size: 100%;
  width: var(--header-button-diameter);
  height: var(--header-button-diameter);
}

#button_profile{
  background: url(assets/profile1.png) no-repeat;
  background-size: 100%;
  width: var(--header-button-diameter);
  height: var(--header-button-diameter);
}

header button{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

/* --- Search Bar --- */

.middle{
  --form-curve: 20px;
  align-items: center;
}

.middle input{
  height: 40px;
  border: solid 1px var(--main-color-lighter);
  color: var(--text-color-darker);
}

.middle input[type*="text"]{
  box-sizing: border-box;
  width: 540px;
  margin-right: 0px;
  padding-left: var(--form-curve);
  border-radius: var(--form-curve) 0px 0px var(--form-curve);
  background-color: var(--main-color);

  font-size: 17px;
}
.middle input[type*="text"]:focus{
  border-color: var(--focus-color);
  outline: none;
}

.middle input[type*="submit"]{
  width: 65px;
  margin-left: 0px;
  background: url(assets/magnify.png) no-repeat 50% 50%;
  background-size: auto 100%;
  border-left-width: 0px;
  border-radius: 0px var(--form-curve) var(--form-curve) 0px;
  cursor: pointer;
}



/* ----- Setup Main Body ----- */

.body_container{
  display: flex;
  height: calc(100% - var(--header-height) );

  justify-content: space-between;
}

#spacer{
  width: var(--sidebar-main-spacing);
}


/* ----- Sidebar ----- */


.sidebar {
  display: flex;
  width: var(--sidebar-min-width);
  padding-top: 2.5px;

  justify-content: start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  row-gap: 10px;
}

.sidebar .button_container{
  display: flex; /* Use flex to center item */
  background-color: var(--main-color);
  width: calc(100% - 5px);
  height: 70px;

  border-radius: 10px;
  cursor: pointer;

  font-size: 10px;
  justify-content: center;
  align-items: center;
}
.sidebar .button_container:hover{
  background-color: var(--main-color-lighter);
}

.sidebar .button_container div{
  display: flex; /* Use flex to center item */
  height: 70%;
  width: 100%;

  justify-content: center;
  align-items: flex-end;
}

#accueil div{
  background: url(assets/accueil.png) no-repeat 50% 30%;
  background-size: 50%;
}

#shorts div{
  background: url(assets/shorts.png) no-repeat 50% 30%;
  background-size: 50%;
}

#abonnements div{
  background: url(assets/abonnements.png) no-repeat 50% 30%;
  background-size: 50%;
}

#bibliotheque div{
  background: url(assets/bibliotheque.png) no-repeat 50% 30%;
  background-size: 50%;
}


/* ----- Filter Top Bar + Videos ----- */

.main {
  display: flex;
  width: calc(100% - var(--sidebar-min-width) - var(--sidebar-main-spacing));
  margin-left: 10px;

  flex-direction: column;
  align-items: center;

  /* background-color: darkblue; */
}

/* ----- Filter Top Bar ----- */



.top_filter{
  display: flex;
  height: var(--filter-bar-height);
  width: 100%;

  overflow: scroll;
  align-items: center;

  /* background-color: darkred */
}


.top_filter div{
  line-height: calc(var(--filter-bar-height) - 20px );
  height: calc(var(--filter-bar-height) - 20px );
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;

  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main-color-light);
}

.top_filter div:hover{
  background-color: var(--main-color-lighter);
}

::-webkit-scrollbar {
  display: none;
}


/* ----- Videos ----- */

.videos{
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 25px;

  --channel-picture-diameter: 40px;
  /* background-color: darkgreen; */

  grid: repeat(5, 310px) / repeat(4, 360px);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  justify-content: center;

  overflow: scroll;
}





.video_container{
  display: flex;
  width: 360px;
  height: 310px;
  margin: 0;

  flex-direction: column;
  align-items: center;

  /* background-color: green; */
}


.thumbnail{
  height: 64%;
  width: 100%;

  border-radius: 15px;
  background: var(--thumbnail-picture) no-repeat 50% 50%;
  background-size: 100%;
}

.bottom_container{
  display: flex;
  height: 36%;
  width: 100%;
  padding-top: 10px;
}

.channel_picture{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  
  border-radius: 100%;
  flex-shrink: 0;
  background: var(--profile-pic) no-repeat 50% 50%;
  background-size: 100%;

  border: 1px white solid;
}


.title_container{
  flex-grow: 1;
}

.title_container p{
  margin: 0;
  color: var(--text-color-dark);
}


p.title{
  margin-bottom: 10px;

  display: -webkit-box; /* Allows to control number of lines */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  font-size: 1.1rem;
  color: var(--text-color);
  overflow: hidden;
}

p.channel_title{
  font-size: 1rem;
  margin-bottom: 5px;
}

p.video_metadata{
  font-size: 1rem;
}


.video_metadata span{
  display: inline-block;
}

.dot{
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  
  background-color: var(--text-color-dark);
  border-radius: 100%;
}

