:root{
    /* Theme Page Colors */
    --main-color: rgb(150, 190, 190);
    --main-color-light: rgb(34, 34, 34);
    --main-color-lighter: rgb(48, 48, 48);
    --secondary-color: rgb(4, 170, 200);
    --tercary-color: rgb(103, 161, 65);
    --focus-color: rgb(22,63,114);

    /* Theme font colors */
    --text-color: white;
    --text-color-dark: rgb(150,150,150);
    --text-color-darker: rgb(90,90,90);
}

body {
    background: var(--main-color);
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* General Preparation */

.card_container {
    --number-of-card: 5;
    --card-size: 200px;

    display: grid;
    height: var(--card-size);
    width: calc(var(--card-size) * var(--number-of-card));

    grid-template: 100% / repeat( var(--number-of-card) , 1fr);
    grid-column-gap: 5px;
}

.card_container .card{
    border-radius: 25px;
    background-color: var(--secondary-color);
    cursor: pointer;
}


/* Fade all other elements on hover */

.hover_fade .card{
    transition: opacity .3s;

}

.hover_fade .card_container:hover > :not(:hover){
    opacity: .5;
}


/* Card selection effect */

.card_select .card_container{
    display: flex;
    gap: 20px;

    margin-left: 50px;
    --number-of-card: 5;
    --card-size: 200px;
}

.card_select .card{
    height: var(--card-size);
    width: var(--card-size);
    transition: .3s ease-in-out;
    box-shadow: -.5rem 0 1rem #000;
}

.card_select .card + .card{
    margin-left: -10%;
}


.card_select .card:hover{
    transform: rotate(-4deg);
}

.card_select .card:hover ~ .card{
    translate: 60px;
}



/*  Card Grows when selected */

.grow_select .card{
    transition: all .3s ease-in-out;

}

.grow_select .card_container .card:hover{
    transform: scale(1.2);
}

.grow_select .card_container:hover > :not(:hover){
    opacity: .3;
}





/*  Wheel   */


.wheel .card_container{
    display: block;

    height: var(--card-size);
    width: 800px;
    
    margin-left: 400px;
    --card-size: 200px;
}

.wheel .card{
    position: absolute;
    height: var(--card-size);
    width: var(--card-size);
    text-align: center;

    background-color: bisque;
    box-shadow: 0rem 0 1rem #000;
    transition: all .3s linear;

}

.wheel .card:nth-child(1){
    background-color: rgb(103, 161, 65);
}
.wheel .card:nth-child(2){
    background-color: rgb(88, 138, 55);
}
.wheel .card:nth-child(3){
    background-color: rgb(63, 97, 40);
}
.wheel .card:nth-child(4){
    background-color: rgb(55, 85, 35);
}
.wheel .card:nth-child(5){
    background-color: rgb(31, 48, 19);
}





/*   Card Flip   */

.card_flip .card {
    /* background-color: red; */
    background-color: transparent;
    border: 1px solid black;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

}














